* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

img {
	width: 100%;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding-block: 3rem;
	min-height: 80vh;
	background: #333;
	color: white;
}

header img {
	max-width: 200px;
}

h1 {
	font-size: clamp(2.5rem, 5vw, 3.5rem);
	text-align: center;
}

h3 {
	font-size: clamp(1.5rem, 5vw, 2rem);
}

main {
	padding-block: 2rem;
	max-width: 80%;
	margin: 0 auto;
}

.result {
	border: 1px solid lightgray;
	padding: 1rem;
	border-radius: 0.5rem;
	max-width: 550px;
	height: 300px;
	margin: 1rem auto;
	overflow-y: scroll;
}

.btn {
	padding: 12px 24px;
	font-size: 18px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn.default {
	background-color: #f44336;
}

.flex-row {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

.imagePlaceholder {
	max-width: 850px;
	min-height: 250px;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	position: relative;
}

.imagePlaceholder .descriptionBox img {
	width: 30px;
	height: 30px;
}

.imagePlaceholder h3 {
	font-size: clamp(1.2rem, 5vw, 2rem);
	padding-block: 2rem;
}

.descriptionBox {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
	padding: 12px 14px;
}

.description {
	display: flex;
	flex-flow: row nowrap;
	gap: 5px;
	align-items: center;
}

.description p {
	display: flex;
	flex-flow: row wrap;
	gap: 4px;
}

.description p > span {
	background: #222;
	color: white;
	padding: 8px;
	border-radius: 8px;
	font-size: 0.8rem;
}

.imagePlaceholder .reveal {
	opacity: 0;
	animation: 0.3s showSmooth forwards;
}
@keyframes showSmooth {
	to {
		opacity: 1;
	}
}

.circle {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	background: linear-gradient(white, white) padding-box,
		linear-gradient(to right, transparent, lightblue) border-box;
	border: 4px solid transparent;
	transform: rotate(0deg);
	animation: 0.5s loading linear infinite;
}
@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}

.water {
	background: #5591b5 !important;
}

.ground {
	background-color: rgb(133, 60, 8) !important;
}

.fire {
	background: rgb(123, 5, 5) !important;
}

.fairy {
	background: rgb(162, 4, 162) !important;
}

@media all and (max-width: 600px) {
	.flex-row {
		flex-direction: column;
	}
}
