* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Ubuntu', sans-serif;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding-block: 2rem;
}

h1 {
	font-size: clamp(2.5rem, 5vw, 3.5rem);
	color: rgb(48, 48, 48);
}

h3 {
	font-size: clamp(1.5rem, 5vw, 2rem);
}

.result {
	border: 1px solid lightgray;
	padding: 1rem;
	border-radius: 0.5rem;
	margin-block: 2rem;
	width: 550px;
	height: 300px;
	overflow-y: scroll;
}

.btn {
	padding: 12px 24px;
	font-size: 18px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn.default {
	background-color: #f44336;
}

.flex-row {
	display: flex;
	gap: 1rem;
	align-items: center;
}

@media all and (max-width: 600px) {
	.flex-row {
		flex-direction: column;
	}
}
